@charset "UTF-8";
@font-face {
    font-family:['idroid'];
    src: url(fontes/idroid.otf);
    src: url(fontes/IDroid.svg),
         url(fontes/IDroid.ttf),
         url(fontes/IDroid.woff),
         url(fontes/IDroid.eot);
}

header {
    background-image: linear-gradient(to top, #1a5c38,#3BD27F);
    text-align: center;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -21px;
    height: 150px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.284);
}
header h1 {
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
}

header p {
    color: rgb(226, 226, 226);
    max-width: 400px;
    margin: auto;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.271);
    position: static;
}

nav a{
    text-decoration: none;
    color:  white;
    padding: 10px;
    transition-duration: 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.766);
}

nav a:hover {
    background-color: #2FA866;
    border-radius: 5px;
}

nav {
    margin-top: 45px;
    position: absolute;
    padding: 7px;
    padding-left: 0px;
    font-size: 0.9em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #84E1AD;
    margin: 0px;
    text-align: center;
    
}

main {
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 22px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.366);

}

main a {
        color: #23623F;
        text-decoration: none;
        font-weight: bold;

}

main a:hover {
    background-color: #23623F;
    color: white;

}

#h1main {
    font-family: idroid;
    color: #23623F;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.329);
}

main p {
    margin: 15px;
    text-align: justify;
    text-indent: 30px;
    padding-bottom: 20px;
    line-height: 1.7em;

}

#ultimo p {
    margin-top: 10px;
}

h2 {
    background-image: linear-gradient(to right,#afdfc5, white );
    text-align: left;
    font-family: idroid;
    color: #23623F;
    margin-left: 10px;
    text-indent: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.297);
}


main footer {
    background-color: #C5EBD6;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;

}
main footer h3 {
    background-color:#2FA866;
    padding: 7px;
    text-align: left;
    text-indent: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
main footer p {
    background-color: #C5EBD6;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    border-bottom-left-radius: 10px;
}

abbr {
    background-color: #C5EBD6 ;
    border-radius: 10px;
    display: block;
}

#final {
    background-color: #23623F;
    padding: 10px;
    font-size: 0.8em;

}

#final  p {
    margin: 0px;
    color: white;
    margin: auto;


}

#final p em {
    color: lightgray;
}

aside ul {
    list-style-position: inside;
    columns: 2;
    text-align: left;
    margin: auto;
    margin-bottom: 20px;
    
}

a.externo::after {
    content: '\1F517';
}

strong {
    color: #1a5c38;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
}

.video {
    background-color: #1a5c38;
    margin-bottom: 30px;
    padding: 20px;
    padding-bottom: 53.5%;
    position: relative;
}

div.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main picture img {
    width: 100%;
}